<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
    <link rel="icon" href="../static/image/favicon.ico">
    <title>A Pen by  kinoborisan</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body style="background-image: url('../static/image/p1.png')">
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
<div class="col-md-8"  style="background-color: white">
    <div id="chart" style="width: 100%;height:335px;"></div>
    <div id="chart2" style="width: 100%;height:335px;"></div>
</div>

<script src="../static/js/index.js"></script>
<script src="../static/js/jquery.min.js"></script>


</body>
</html>
